{% extends "registration/base.html" %} {%block content%}
<div class=" bg-[#0f0f0f] py-2 px-4 text-white w-96 rounded-xl border border-slate-600">
    <div class="text-center">
        <h1 class="text-[#eab308] text-3xl mt-4 font-extrabold">Sign in</h1>
        <p class="text-slate-400">Welcome back! please sign in to your account</p>
    </div>
    <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
        <div class="mt-4">
            <label for="username" class="block text-sm font-medium text-white">Username</label>
            <input type="text" name="username" id="username" class='grow w-full bg-[#1f2937] py-2 px-4 text-white rounded-xl border border-slate-600'>
        </div>
        <div class="mt-4">
            <label for="password" class="block text-sm font-medium text-white">Password</label>
            <input type="password" name="password" id="password"  class='grow w-full bg-[#1f2937] py-2 px-4 text-white rounded-xl border border-slate-600'>
        </div>
        <button type="submit" class='grow bg-[#eab308] mt-4 py-2 px-4 text-white rounded-xl border border-slate-600 w-full'>Login</button>
    </form>
    <p class="mt-4">Dont have an account? <a href="{% url 'signup' %}"  class='text-[#eab308]'>Sign up</a></p>
    
</div>
{%endblock%}
