{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django + Tailwind CSS</title>

    {% compress css%}
    <link rel="stylesheet" href="{% static 'blog_app/output.css' %}" />
    {% endcompress %}
  </head>
  <body class="bg-[#111827]">
    <section class="px-4">
        <nav class="flex justify-between items-center fixed w-screen px-20 bg-[#11182757] z-50  backdrop-blur-md">
          <div class = "text-[#eab308] flex items-center font-extrabold text-2xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 100 100"
              id="Christian"
              width=60
              height=60
            >
              <path
                d="M50 12.5a6.236 6.236 0 0 0-6.25 6.25v14.583H29.167a6.236 6.236 0 0 0-6.25 6.25 6.236 6.236 0 0 0 6.25 6.25H43.75V81.25A6.236 6.236 0 0 0 50 87.5a6.236 6.236 0 0 0 6.25-6.25V45.833h14.583a6.236 6.236 0 0 0 6.25-6.25 6.236 6.236 0 0 0-6.25-6.25H56.25V18.75A6.236 6.236 0 0 0 50 12.5z"
                color="#000"
                overflow="visible"
                style="marker: none"
                fill="#eab308"
                class="color000000 svgShape"
              ></path>
            </svg>
            <p>Faith</p>
          </div>
          <ul class="text-white flex gap-10">
            <li class="hover:text-[#FFD700]">Home</li>
            <li class="hover:text-[#FFD700]">About</li>
            <li class="hover:text-[#FFD700]">Blog</li>
            <li class="hover:text-[#FFD700]">Contact</li>
          </ul>
        </nav>

    </section>
    {% block content%}{% endblock %}
    <footer class='bg-[#1f2937] flex justify-between items-center py-8 px-6 mt-10'>
      <section>
        <h3 class='text-[#eab308] text-xl font-bold'>Subscribe to our Newsletter</h3>
        <div class="flex gap-4  py-4">
          <input placeholder="Your Email" class='grow bg-[#293546] py-2 px-4 text-white rounded-xl border border-slate-600'></input>
          <button class='bg-[#eab308] text-white font-medium px-8 rounded-md'>Subscribe</button>
        </div>
      </section>
    
      <div>
        <p class='text-white'>&copy; {% now "Y" %} The Faith Blog. All rights Reserverd</p>
      </div>
    </footer>
</html>
